* {
    box-sizing: border-box;
   
}

body{
    margin: 0;
    padding: 0;
    
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;

}
html {
	scroll-behavior: smooth;
   
    
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
    
}
